
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.left-column {
  width: 65%;
  position: relative;
  margin-top: 100px;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}


.left-column img {
  width: 90%;
  position: absolute;
  border-radius: 15px;
  height: 400px;
}


.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}


.product-price {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color : #B88E2F;
  background-color: #FFFFFF;
  border: 2px solid #B88E2F;
  text-align: center ;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  border-radius: 25px;
}
.cart-btn:hover {
  color: #ffffff;
  background-color: #B88E2F;
}

