body {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

*{
    font-family: 'Poppins', sans-serif;
}

/* banner include header and mask */

#banner {
    height: 816.83px;
    width: 100%;
    position: relative;
}

/* header */


header {
    height: 100px;
    width: 100%;
    display: flex;
    z-index: 1;
    background-color: #FFFFFF;
    position: fixed;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);

}

#container {
 
    width: 90%;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    position: absolute;
    left: 5%;
}

/* shap name and logo */

#shopName{
    width: 15%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

#shopName h1{
    
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    margin: 0px;

}
#shopName img{
    align-self: center;
    
}

/* links WEBSITE in header */

#collection{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

#collection a{

    color: #000;
    font-size: 20px;
    text-decoration: none;
}

#collection a:hover{
    text-decoration: underline;
    color: #B88E2F;
}


/* icons in header  */

#akar-icon{
    width: 10%;
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}

#akar-icon a{
    text-decoration: none;
}


#favorite-namber{
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: #B88E2F;
    display: inline;
    margin: 0px;
    align-self: start;
}



#card-namber{
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: #B88E2F;
    display: inline;
    margin: 0px;
    align-self: start;
}

/* log out */

#logoutbtn{
    height: 48px;
    width: 90px;
    font-size: 16px;
    font-weight: 600;
    color : #B88E2F;
    background-color: #FFFFFF;
    border: 2px solid #B88E2F;
    text-align: center ;
    border-radius: 24px;
    
}

#logoutbtn:hover{
    color: #ffffff;
    background-color: #B88E2F;
}

/* mask */

#mask2{
    width: 100%;
    position: relative;
    object-fit: contain;
    top: 100px;
}
#mask2 img {
    width: 100%;
    object-fit: contain;
}
.section-1 .contain { 
    margin-top: 200px;
    margin-left: calc((100% - 644px) /2);

}
.secondP{
    color: #9F9F9F;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Get-In-Touch{
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}
#version{
    font-size: 16px;
    margin-top: 20px;
}